html {
  background: #FFEA73
}

.textbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@font-face{
  font-family: Crystal;
  src: url(Crystal.ttf);
}


.textbox div {
  width: 50%;
  height: 100px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 5px;
  color: #BF9630;
  text-align: center;
  font-family: Crystal;
}

/*
Центрирование кастомного маркера-картинки с текстом?
*/
#textbox5 ul li{
  text-align: left;
  font-size:15px;
  list-style: georgian inside;
  list-style-image: url(Coca.png);
  padding-left: 15px;
  color: #0776A0;
}

/*Как уйти от явного задания размера блока? Т.е в блоке текст, свойство, чтобы размер блока автоматически
 подгонялся под текст в блоке и не перекрывал другие блоки?
 */
#textbox3 {
  height: 150px;
}
#textbox3 p{
  font-size: 18px;
  height: auto;
  text-align: left;
  color: #0776A0;
}


#textbox5{
  height: 300px;
}

#imagebox1{
  content: url(Chris-Avellone.png);
  border-radius : 150px;
  width: 200px;
  height: 200px;
}

#textbox1{
  height: 50px;
}

#textbox6 ul li{
  text-align: left;
  font-size:15px;
  list-style: georgian inside;
  padding-left: 15px;
  color: #0776A0;
}